body {
    background-color: #ec4434;
    position: relative;
    min-height: 100vh;
    font-family: 'Grandstander', cursive;
}

.middletext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50px;
}
